<ion-view>
  <div class="container">
    <div class="row" >
      <div class="col-xs-12 center" style="text-align: center;">
        <h1>&nbsp;</h1>
        <h1>Chose System Type</h1>
        <h3>&nbsp;</h3>
      </div>
    </div>
      <div class="row" >
        <div class="container">

        	<hr class="featurette-divider" style="border-top: 2px solid #607D8B;">

          <div class="row">
        		<div class="col-sm-5">
        		 	<img class="featurette-image img-responsive center-block" src="img/Graph.png" height="200px" width="200px" alt="Generic placeholder image">
        		</div>
        		<div class="col-sm-7">
        			<h2 class="featurette-heading">Graph Based Cell System<span class="text-muted"></span></h2>
                     <p>Create a Cellsystem with Delaunay and Voronoi Algorithm and simulate its behavior.</p>
                     <a type="button" class="btn btn-default" href="#graph">Go to.</a>
        		</div>
        	</div>

        	<hr class="featurette-divider" style="border-top: 2px solid #607D8B;">

        	<div class="row">
        		<div class="col-sm-7">
        			<h2 class="featurette-heading">Grid Based Cell System<span class="text-muted"></span></h2>
                     <p>Create a Cellsystem compareable with Game of Life Automata and simulate its behavior</p>
                     <a type="button" class="btn btn-default" href="#ca">Go to.</a>
        		</div>
        		<div class="col-sm-5">
        		 	<img class="featurette-image img-responsive center-block" src="img/Grid.png" height="200px" width="200px" alt="Generic placeholder image">
        		</div>
        	</div>
        	<hr class="featurette-divider" style="border-top: 2px solid #607D8B;">
        </div>
    </div>
  </div>
</ion-view>
