<html ng-app="app">
  <head>
    <title>SigmaTest</title>
    <!-- weitere Kopfinformationen -->
	<script src="bin/angular.min.js"></script>
  <script src="bin/lodash/lodash.min.js"></script>
  <script src="bin/surface.js"></script>
  <script src="bin/cell.js"></script>
  <script src="bin/app.js"></script>
  <script src="bin/helper.js"></script>
    <!-- START VORONOI IMPORTS -->
  <script src="src/veronoi/Point.js"></script>
  <script src="src/veronoi/VEdge.js"></script>
  <script src="src/veronoi/VEvent.js"></script>
  <script src="src/veronoi/VParabola.js"></script>
  <script src="src/veronoi/VQueue.js"></script>
  <script src="src/veronoi/VPolygon.js"></script>
  <script src="src/veronoi/Voronoi.js"></script>

	<!-- Kommentare werden im Browser nicht angezeigt. -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <style type="text/css">
    body {
      margin: 0;
    }
    #c {
      width: 600px;
      height: 600px;
	    border: solid 1px;
    }
  </style>
  </head>
<body ng-controller="HomeController">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="../index.html"><h3>CA Simulation</h3></a>
      </div>
    </div>
  </div>
  <!-- body -->
  <div class="container">
  <div class="row" >
    <div class="col-xs-12">
      <h1>&nbsp;</h1>
      <h3>Cell System</h3>
    </div>
  </div>
    <div class="row" >
      <div class="col-xs-8">
        <!--map content-->
         <canvas id="c"> </canvas><br/>
      </div>
      <div class="col-xs-4">
        <!-- form content-->
        <form name="controllerForm">
            Current step: {{stepcounter}}<br><br>
            <label><input type="text" name="input" ng-model="initDensity" min="1" max="100" required size="2">
            </label> % - initial distribution<br>
            <label><input type="text" name="input" ng-model="dividePercent" min="1" max="100" required size="2">
            </label> % - divide percent<br>
            <label><input type="text" name="input" ng-model="flipPercent" min="1" max="100" required size="2">
            </label> % - flip percent<br>
            <div role="alert">
              <span class="error" ng-show="controllerForm.input.$error.required">
                Required!</span>
            </div>
            <button type="button" class="btn btn-default btn-block" ng-click="generateMap()">Generate Map</button><br/>
            <button type="button" class="btn btn-default btn-block" ng-click="generateGraph()">Generate Graph</button><br/>
            <label><input type="checkbox" ng-model="algorithm.voronoi" ng-click="reDrawGraph()"> - Voronoi</label><br/>
            <label><input type="checkbox" ng-model="algorithm.delaunay" ng-click="reDrawGraph()"> - Delaunay</label><br/>
        </form>
      </div>
  </div>
  </div>

</body>
</html>
