<html ng-app="app">
  <head>
    <title>Cell Sim</title>
    <!-- weitere Kopfinformationen -->
	<script src="bin/angular.min.js"></script>
  <script src="bin/lodash/lodash.min.js"></script>
  <script src="bin/app.js"></script>
  <script src="bin/helper.js"></script>
    <!-- START 3D js IMPORTS -->
  <script src="src/d3-voronoi.v0.3.min.js"></script>
  <script src="src/d3-timer.v0.1.min.js"></script>
  <script src="src/d3.v3.min.js"></script>
  <script src="src/topojson.v1.min.js"></script>

	<!-- Kommentare werden im Browser nicht angezeigt. -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/angular-chart.min.css" />

  <style type="text/css">
    body {
      margin: 0;
    }
    #c {
      width: 600px;
      height: 600px;
	    border: solid 1px;
    }
  </style>
  </head>
<body ng-controller="HomeController">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="../index.html"><h3>CA Simulation</h3></a>
      </div>
    </div>
  </div>
  <!-- body -->
  <div class="container">
  <div class="row" >
    <div class="col-xs-12">
      <h1>&nbsp;</h1>
      <h3>Cell System</h3>
    </div>
  </div>
    <div class="row" >
      <div class="col-xs-8">
        <!--map content-->
         <canvas id="c" ng-click"onClick()"> </canvas><br/>
      </div>
      <div class="col-xs-4">
        <!-- form content-->
        <form name="controllerForm">
            Current step: {{stepcounter}}<br><br>
            <label><input type="text" name="input" ng-model="initDensity" min="1" max="100" required size="2">
            </label> % - initial cell density<br>
            <label><input type="text" name="input" ng-model="initDistribution" min="1" max="100" required size="2">
            </label> % - initial distribution<br>
            <label><input type="text" name="input" ng-model="dividePercent" min="1" max="100" required size="2">
            </label> % - divide percent<br>
            <label><input type="text" name="input" ng-model="flipPercent" min="1" max="100" required size="2">
            </label> % - flip percent<br><br>
            <button type="button" class="btn btn-default btn-block" ng-click="generateMap()">Generate Map</button>
            <button type="button" class="btn btn-default btn-block" ng-click="startRun()">Start Simulation</button>
            <button type="button" class="btn btn-default btn-block" ng-click="stopRun()">Stop Simulation</button><br/>
            <label><input type="checkbox" ng-model="algorithm.centerInfection"> - Inject from Center</label><br/>
            <label><input type="checkbox" ng-model="algorithm.voronoi" ng-click="refreshGraph()"> - Voronoi</label><br/>
            <label><input type="checkbox" ng-model="algorithm.delaunay" ng-click="refreshGraph()"> - Delaunay</label><br/>
            <label><input type="checkbox" ng-model="algorithm.pointers" ng-click="refreshGraph()"> - Points</label><br/>
        </form>
      </div>
  </div>
  <h3>Analytics</h3>
  <div class="row">
      <div class="col-xs-5">
        <h4>Population</h4>
        <canvas id="line" name="line" class="chart chart-line" chart-data="ds_line"
          chart-labels="lbl_line" chart-legend="false" chart-series="series"
          chart-options="{ animationSteps : 0 }"
          chart-click="onClick">
        </canvas>
      </div>
      <div class="col-md-offset-1 col-xs-5">
        <h4>Cell Behavior</h4>
        <canvas id="pie" class="chart chart-pie"
          chart-data="ds_pie" chart-labels="lbl_pie" chart-options="{ animationSteps : 0 }">
        </canvas>
      </div>
      <!--
      <div class="col-md-offset-1 col-xs-3">
        <h4>Another Chart</h4>
      </div>
      -->
    </div>
  </div>

</body>
<script src="bin/chart/Chart.min.js"></script>
<script src="bin/chart/angular-chart.min.js"></script>
</html>
